@use '../../styles/tokens.scss' as *;

.leaderboard {
  padding: $size-5 0;

  &__meta {
    display: flex;
    flex-direction: row;
    margin-bottom: $size-5;
  }

  &__wrapper {
    border-radius: $size-2;
    border: 2.5px solid $on-primary;
    box-shadow: 4px 4px 0 0 $on-primary;
    overflow: hidden;
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  &__head {
    padding: $size-3;
    background-color: $tertiary;

    & > tr {
      border-radius: 16px;
    }

    & > tr > th {
      padding: $size-3;
      font-size: $size-2;
      font-family: $roboto;
      font-weight: $extra-bold;
      color: $white;
      text-transform: uppercase;
    }
  }

  &__body {
    & > tr > td {
      padding: $size-3;
      font-size: $size-2;
      font-family: $roboto;
      font-weight: $bold;
      text-align: center;
      color: $on-primary;
    }

    & > tr > td.yellow {
      color: $primary;
    }

    & > tr:nth-child(odd) {
      background-color: $bg;
    }
  }
}

.chips {
  padding: $size-05 $size-2;
  background-color: $white;
  border: 1.5px solid $on-primary;
  border-radius: 20px;
}
