@use '../../styles/tokens.scss' as *;

.title {
  display: flex;
  align-items: center;
  font-family: $inter;
  font-weight: $bold;
  font-size: $headline-large;
  color: $on-primary;

  &::before {
    content: '';
    width: $size-1;
    height: $size-4;
    display: inline-block;
    margin-right: $size-1;
    border-radius: $size-05;
    background-color: $primary;
    border: 1.5px solid $on-primary;
  }
}
