@use '../../styles/tokens.scss' as *;

.comment {
  width: 100%;
  padding: $size-2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: $size-1;
  background-color: $white;
  border-radius: $label-medium;

  &__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    font-family: $inter;
    font-weight: $regular;
    font-size: $label-medium;
    color: $on-bg;
  }

  &__body,
  &__footer {
    width: 100%;

    & > p {
      font-family: $inter;
      font-weight: $regular;
      font-size: $body-small;
      line-height: $body-large;
      color: $on-primary;
    }
  }
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $size-1;
  font-family: $inter;
  font-weight: $bold;
  font-size: $body-small;
  color: $on-primary;
}
