@use '../../styles/tokens.scss' as *;
@use '../../styles//components//button.scss';

.header {
  width: 100%;
  background-color: $bg;
  border-bottom: 2px solid $on-primary;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size-3 0;
  }
}

.icon {
}

.navbar {
  flex: 1;

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}

.navigation {
  gap: $size-4;
}

ul {
  & li > a {
    font-size: $size-2;
    color: $on-bg;
    font-family: $inter;
    font-weight: $medium;

    &[aria-current='page'] {
      color: $on-primary;
      font-weight: $bold;
    }
  }
}

.menu {
  width: 55%;
  max-width: 410px;
  margin: 8px 32px 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.auth-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: $size-2;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
