@use '../../styles/tokens.scss' as *;

.game-carousel {
  padding: $size-5 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $size-5;
  }
}

.control-area {
  display: flex;
  flex-direction: row;
}
